:root {
  --valhalla: #252544;
  --dolphin: #666880;
  --solitude: #E5EFF1;
  --mulled-wine: #494967;
  --black-squeeze: #F1F9F9;
  --gull-gray: #9FA7B6;

  --text-primary: var(--valhalla);
  --text-secondary: var(--dolphin);
  --placeholder: var(--gull-gray);
  --input: var(--solitude);
  --main-color: var(--black-squeeze);
  --focus-visible: var(--mulled-wine);
  --main-background: var(--solitude);
  --border: var(var(--black-squeeze));

  --Input-placeholderColor: var(--placeholder);
  --Input-color: var(--text-primary);
  --Input-focusedHighlight: var(--focus-visible);
  --variant-softHoverBg: var(--dolphin);

  --type-normal: #A8A77A;
  --type-fire: #EE8130;
  --type-water: #6390F0;
  --type-electric: #F7D02C;
  --type-grass: #7AC74C;
  --type-ice: #96D9D6;
  --type-fighting: #C22E28;
  --type-poison: #A33EA1;
  --type-ground: #E2BF65;
  --type-flying: #A98FF3;
  --type-psychic: #F95587;
  --type-bug: #A6B91A;
  --type-rock: #B6A136;
  --type-ghost: #735797;
  --type-dark: #705746;
  --type-dragon: #6F35FC;
  --type-steel: #B7B7CE;
  --type-fairy: #D685AD;
}

body {
  margin: 0;
  background: var(--main-background);
  color: var(--text-primary);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}